# Прикладной анализ данных в социальных науках

## 02. Дескриптивный анализ данных

Меньше и больше счастья

Всемирный доклад ООН о счастье содержит данные об опросе людей в разных странах, в котором они оценивают свой общий уровень счастья, а также уровне удовлетворения в отдельных аспектах. В рамках сбора данных для репрезентативных национальных выборок респондентов просят ответить на ряд вопросов по шкале от нуля до десяти, где десять — это лучшая из возможных жизней, а ноль — худшая. Ответы отдельных респондентов усредняются для получения общего для страны показателя. Попробуем исследовать данные за 2019 год, чтобы лучше понять их структуру. CSV-файл доступен под названием “2019.csv”.

Некоторые переменные, доступные в данных:

    'Country or region' - название страны
    'Score' - Уровень индекса счастья
    'GDP per capita' - Уровень ВВП на душу населения

Какое максимальное и минимальное значение индекса счастья в 2019 году?
Формат ввода

Важно!

Два ответа должны быть на разных строчках, это можно сделать, используя print два раза, например:

print('значение максимума')

print('значение минимума')
Формат вывода

6.232
3.243

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('2019.csv')

In [7]:
print(df.Score.max())
print(df.Score.min())

7.769
2.853

Средний уровень счастья

Всемирный доклад ООН о счастье содержит данные об опросе людей в разных странах, в котором они оценивают свой общий уровень счастья, а также уровне удовлетворения в отдельных аспектах. В рамках сбора данных для репрезентативных национальных выборок респондентов просят ответить на ряд вопросов по шкале от нуля до десяти, где десять — это лучшая из возможных жизней, а ноль — худшая. Ответы отдельных респондентов усредняются для получения общего для страны показателя. Попробуем исследовать данные за 2019 год, чтобы лучше понять их структуру. CSV-файл доступен под названием “2019.csv”.

Какой средний уровень счастья среди всех стран?

Некоторые переменные, доступные в данных:

    'Country or region' - название страны
    'Score' - Уровень индекса счастья
    'GDP per capita' - Уровень ВВП на душу населения

Какой средний уровень счастья среди всех стран?
Формат вывода

6.232

In [8]:
df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [10]:
print(df['Score'].mean())

5.407096153846155

Каков медианный уровень счастья среди всех стран?

In [11]:
print(df['Score'].median())

5.3795

Какова мода среди всех стран?

Учтите, что так как мод может быть несколько, то функция mode() возвращает массив, в котором может быть одно или несколько чисел. Мы точно знаем, что в этой задаче единственная мода. Чтобы вернуть её как число, добавьте явное указание, что вам нужен нулевой элемент из массива: df['col_name'].mode()[0].

In [13]:
print(df['Score'].mode()[0])

5.208

Каково стандартное отклонение среди всех стран?

In [14]:
print(df['Score'].std())

1.1131198687956712

Найдите десять самых счастливых стран.

Отсортируйте наблюдения по уровню счастья, затем выберите единственную колонку с названиями регионов и выведите первые 10 наблюдений. При выдаче значения должны быть выведены в качестве списка, используйте для этого функцию .tolist().

In [21]:
print(df.sort_values(by='Score', ascending=False)['Country or region'][0:10].tolist())

['Finland', 'Denmark', 'Norway', 'Iceland', 'Netherlands', 'Switzerland', 'Sweden', 'New Zealand', 'Canada', 'Austria']

Подсчитайте суммарный ВВП всех стран.

In [23]:
print(df['GDP per capita'].sum())

141.203

Подсчитайте суммарный ВВП первых десяти стран.

In [29]:
print(df[0:10]['GDP per capita'].sum())

13.87

## 03. Парные сравнения числовых данных

In [30]:
df = pd.read_csv('books_prep.csv')

In [31]:
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,User Rating (Round),Price (Above Average)
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,5,No
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,5,Yes
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,5,Yes
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,5,No
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,5,No

Самый популярный писатель

В этой и в следующих задачах мы используем набор данных с самыми популярными книгами на Amazon. Мы добавили в него несколько дополнительных переменных. CSV-файл доступен под названием “books_prep.csv”.

В прошлых главах мы говорили о том, что метод describe выводит несколько полезных описательных статистик. Мы получаем результат в виде серии (так называется датафрейм из одной колонки), поэтому мы можем вывести отдельный показатель, используя стандартный синтаксис pandas.

Например, чтобы вывести среднее значение, мы можем использовать следующую инструкцию: df['col_name'].describe()['mean']

Выведите имя самого популярного писателя в наборе данных

Чтобы решить задачу, используйте описанный выше синтаксис уточнений к методу describe.

In [83]:
print(df['Author'].describe()['top'])

Jeff Kinney

Определите средние значения рейтинга для «дешёвых» и «дорогих» книг.

Попробуем исследовать этот набор данных. Мы создали переменную “Price (Above Average)”, которая содержит “Yes”, если цена книги больше средней, и “No”, если меньше.

Мы предполагаем, что рейтинг книги не зависит от её стоимости. Давайте проверим эту гипотезу. Начнём с того, что выведем средние значения пользовательского рейтинга для каждой из групп.

Вам необходимо загрузить набор данных и напечатать средний рейтинг для «дорогих» книг. CSV-файл доступен под названием “books_prep.csv”.

Округлите ответ до 2 числа после запятой с помощью команды round.

In [91]:
exp_avg = df[df['Price (Above Average)']  == 'Yes']['User Rating'].mean().round(2)
print(exp_avg)

4.56

Определите средние значения рейтинга для «дешёвых» и «дорогих» книг.

А теперь вам необходимо загрузить набор данных и напечатать средний рейтинг для «дешёвых» книг. CSV-файл доступен под названием “books_prep.csv”.

Округлите ответ до 2 числа после запятой с помощью команды round.

In [92]:
chp_avg = df[df['Price (Above Average)']  == 'No']['User Rating'].mean().round(2)
print(chp_avg)

4.65

Проведите тест для определения равенства дисперсий. Выведите значение p-value.

Прежде чем сравнивать средние, нам необходимо сравнить дисперсии. Для этого мы можем использовать критерий Левене.

Проведите тест для определения равенства дисперсий у “дешёвых” и “дорогих” книг. Выведите значение p-value.

Вам необходимо вывести только значение p-value и округлить его до 2 знаков после запятой с помощью команды round. Попробуйте немного изменить функцию levene('add something here').pvalue. CSV-файл доступен под названием “books_prep.csv”.

In [93]:
from scipy.stats import levene

In [104]:
exp_grp = df[df['Price (Above Average)']  == 'Yes']['User Rating']
chp_grp = df[df['Price (Above Average)']  == 'No']['User Rating']

p_val = levene(exp_grp, chp_grp).pvalue

print(round(p_val, 2))

0.1

Проведите тест для определения равенства средних. Выведите значение p-value

Теперь давайте попробуем понять, является ли значимым то различие между средними, которое мы увидели. Вам снова необходимо вывести только значение p-value и округлить его до 2 знаков после запятой с помощью команды round. Модифицировать метод необходимо аналогично предыдущей задаче.

CSV-файл доступен под названием “books_prep.csv”.

In [106]:
from scipy.stats import ttest_ind

In [110]:
p_val = ttest_ind(exp_grp, chp_grp, equal_var=True).pvalue

print(round(p_val, 2))

8.190934970309897e-06

ANOVA
Проведите тест ANOVA. Выведите значение p-value

Ещё в этом примере мы создали переменную “User Rating (Round)”, которая содержит округлённые до целого значения среднего пользовательского рейтинга. Мы предполагаем, что рейтинг книги для каждой из групп, — у нас получилось их три, — зависит от числа рецензий (на хорошие книги люди охотнее пишут рецензии). Давайте проверим эту гипотезу с помощью теста ANOVA.

Вам необходимо загрузить набор данных и вывести только значение p-value, округленное до 2 знаков после запятой. CSV-файл доступен под названием “books_prep.csv”.

In [123]:
from scipy.stats import f_oneway

In [127]:
grp_5 = df[df['User Rating (Round)'] == 5]['Reviews']
grp_4 = df[df['User Rating (Round)'] == 4]['Reviews']
grp_3 = df[df['User Rating (Round)'] == 3]['Reviews']

p_val = f_oneway(grp_5, grp_4, grp_3).pvalue

print(round(p_val, 2))

0.3